* {
	font-family: 'Roboto', sans-serif;
}

body {
	height: 2000px;
	/* background-color: black; */
}

header {
	position: relative;
}

nav {
	position: fixed;
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	background-color: #212121;
	z-index: 1;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 0 70px;
	margin: 0;
	list-style-type: none;
}

.menu .menu_link {
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
}

.menu .menu_item {
	border-right: 2px dotted black;
	padding-right: 28px;
}

.subheader {
	top: 50px;
	position: absolute;
	width: 100%;
	height: 84px;
	background-color: rgba(0, 0, 0, .6); /* прозрачность фона */
}

.subheader .subheader_logo {
	/* ссылка это строчный элемент. Чтобы работали марджины в .subheader_official делаем block */
	display: block;
	margin-top: 16px;
	min-width: 100%; /* чтобы картинка никогда не вылезла за ширину ссылки */
}

.subheader .subheader_official {
	margin-top: 2px;
	opacity: 0.5;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
}

.subheader .subheader_call {
	margin-top: 19px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	text-align: right;
}

.subheader .subheader_phone {
	margin-top: 8px;
	display: block;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	line-height: 12px;
}

.subheader .subheader_btn, .promo .promo_btn {
	margin-top: 19px;
	width: 172px;
	height: 46px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
	outline: none; /* обводка при клике */

	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	text-transform: uppercase;
}

.promo {
	padding: 150px 0 135px 0;
	min-height: 800px;
	background: url('../img/first-bg.jpg') center center/cover no-repeat;
}
.promo .promo_header {
	margin: 0;
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;

}

.promo .promo_subheader {
	margin: 0;
	margin-top: 22px;
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	line-height: 36px;
}

.promo .promo_desc {
	margin-top: 23px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.promo .promo_btn {
	display: block;
	margin: 118px auto 0 auto;
}

.work_reasons {
	padding: 79px 0 65px 0;
}

.work_reasons .privilege_text {
	display: block;
	margin: 0 auto;
	width: 112px;
	padding: 6px 8px 5px 8px;
	background-color: #000000;
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.work_reasons .eight_reasons {
	margin-top: 38px;
	color: #222222;
	font-family: Roboto;
	font-size: 38px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.work_reasons .reason_item {
	padding-top: 40px;
}

.work_reasons .reason_item .rtest {
	display: block;
}

.work_reasons .reason_item .reason_round {
	margin-right: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1eacc7;
	border-radius: 100%;
	width: 113px;
	height: 113px;
	float: left;
}

.work_reasons .reason_item .reason_text {
	float: inline-end;
}